body {
    padding:0;
     margin:0;
     /* background-image: url(""); */
     background-repeat: no-repeat;
     background-size: cover;
     background-clip: border-box;
     background: grey;
     background:linear-gradient(.25turn, rgb(47, 76, 104), 10%, rgb(114, 205, 181));
    }
    
.header{
    position:sticky;
    top:0px;
    background:linear-gradient(90deg, rgb(36, 39, 36) 40%, rgb(156, 69, 69));
}    
.header .title{
    font-size: 1.7rem;
    color:white;
    text-shadow: 1px 1px 2px rgb(193, 193, 193);
    margin-left: 0px;
    padding:20px;
}


.notes{
    border:0px solid white;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width:90%;
    margin:auto;
    padding:0px;
    z-index: 0;
}
.note{
    padding:6px;
    display: flex;
    flex-direction: column;
    /* background: #000000; */
    filter:blur(10);
    margin-top: 22px;
    width:80%;
    font-size: 1.4rem;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    border-radius: .5rem;
    color:white;
    margin:10px;
    text-transform: capitalize;

}
.noteFooter{
    display: flex;
    justify-content: space-around;
}
.note_save{
    border:1px solid rgb(187, 182, 182);
    padding: 0 9px;
    text-transform:capitalize;
    border-radius: .5rem;
    margin-left: 8px;
    text-align: center;
}
.note_save:hover{
  color:rgb(70, 61, 255);
  background: #000;
  outline: none;
  border:none;
}
.note_save:active{
    border:1px solid white;
    background: white;
    color:black;
}

.Complete_notes{
    width:80%;
}
.label{
    color:rgb(99, 249, 99);
}
@media (min-width: 300px) and (max-width: 450px) {
     body {
         background:linear-gradient(.25turn, rgb(17, 132, 239), 10%, rgb(0, 255, 187));
        }
        .header .title{
            font-size: 1.3rem;
            padding:15px;
        }
     .notes{
    display: flex;
    flex-direction: column;
    width:99%;
     }

     .note_save{
        padding: 0 10px;
        margin-left: 8px;
        text-align: center;
        width:40%;
    }
  }